<?xml version="1.0"?>
<!--
/**
 * This file is part of the Klarna KCO PostNL module
 *
 * (c) Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Klarna_KcoPostnl" setup_version="1.0.2">
        <sequence>
            <module name="Klarna_KcoCore" />
            <module name="Klarna_Kco" />
            <module name="Klarna_Kred" />
            <module name="TIG_PostNL" />
        </sequence>
    </module>
</config>
